   
    <div id="wrapper">
        
        <div id="content_wrapper">
            <div id="active_admin_content">
                <div id="login">
                    <h1 class="site_title" id="site_title">Bienvenido</h1>
                    <a href="/reports/user_reports">Users report</a>
                    <a href="/reports/place_reports">Places report</a>
                    <br>
                </div>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>