<div id="wrapper" class="mainContainer">

  <div id="content_wrapper">
    <div class="flashes">
    </div>
    <div id="active_admin_content">
      <div id="login">
      <h2>You are not authorized</h2>
        
</div>

    </div>
  </div>

</div>
